#root,html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}


.app{
    height: 100%;
    background: linear-gradient(rgba(219, 54, 43, 0.2),rgba(219, 176, 124, 0.5)), url("./images/flower.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart{
    background-color: whitesmoke;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 3px 4px 5px 6px rgba(0,0,0,0.5);
}
.heading{
    display: flex;
    align-items: center;
    height: 400%;
    font-family: 'Roboto', sans-serif;

}


.glow-on-hover {
    display: flex;
    align-items: center;
    font-family: 'roboto',sans-serif;
    justify-content: center;
    width: 180px;
    height: 150px;
    border: none;
    outline: none;
    color: #111111;
    background: #ffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #d6cfd6
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media only screen and (max-width: 600px) {

    .cart{
        width: 80%;
        height: 30%;

    }

}